/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: #616971;
  max-width: 90rem;
  margin: 0px auto;
  background-color: #555;
}

.strikeThrough {
  text-decoration: line-through;
}
.big-div {
  background-color: #fff;
}

.statement {
  font-size: 1.5rem;
  color: #444 !important;
  line-height: 2.2rem;
}

.statement2 {
  font-size: 1.2rem;
  color: #444 !important;
  line-height: 2rem;
}

h1.clubhouseHeading {
  text-shadow: 3px 3px #444 !important;
}
.clubhouse {
  font-size: 1.5rem;
  color: #fff !important;
  line-height: 2.2rem;
  text-shadow: 2px 2px #000;
}


#meetingsLinkDivButton {
  cursor: pointer;
}

.payDues {
  color: #000;
}

.payDues li {
  margin-bottom: 1rem;
}

#donateButton {
}
/* IMG */
img {
  max-width: 100%;
}
.image-scale-img {
  overflow: hidden;
}
.image-scale-img img {
  /* transition: 0.7s; */
}
.image-scale:hover img {
  /* transform: scale(1.08); */
}

a.linkMainTitle {
  font-size: 1.3rem;
  color: #00f;
}
.with-errors {
  color: #d81310;
}
/*============= TOP BAR HEADER =============*/
.top-bar {
  background-color: #8c0806; /* 8c0806 630802*/
  min-height: 2.8rem;
  padding: 0.5rem 0;
}

.top-bar a {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
}
/*============= NAVIGATION =============*/

.logolink,
.logolink:visited,
.logolink:hover {
  /* font-family: "Libre Caslon Display", serif; */
  font-family: "Libre Baskerville", serif;
  /* font-family: "Spartan", sans-serif; */
  /* font-family: "Oswald", sans-serif; */
  color: #000;
  font-size: 1.6rem;
  text-decoration: none;
}

#navbarResponsive {
}

/* ul > li:nth-child(4) {
	background: red;
} */

.navbar {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.nav-item {
  padding: 0.5rem;
}

.nav-link {
  color: #5b5555 !important;
}

.nav-link.active,
.nav-link:hover {
  color: #8c0806 !important;
}
.buttonGroupMeetings button {
  width: 8rem;
}

.btn-secondary-2 {
  color: #fff;
  background-color: #888 !important;
}
.btn-secondary-2:hover,
.btn-secondary-2:active,
.btn-secondary-2:focus,
.btn-secondary-2:visited {
  color: #fff;
  background-color: #42a5f5 !important;
  border-color: #0062cc !important;
  background-image: none !important;
  border: 1 !important;
}

.btn-secondary:hover {
  background-color: #42a5f5 !important;
}

/*============= CAROUSEL =============*/
#carousel {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.carousel-inner {
  max-height: 28rem !important;
}

.home-carousel {
  /* height: 25rem; */
}

/*---Change Carousel Transition Speed --*/

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 1.2s ease;
}
/*-- Carousel Content --*/

/*===== FIXED BACKGROUND IMG =====*/
/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999 !important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.bannerOpaqueLayerGreen {
  background-color: rgba(20, 100, 10, 0.5);
}

.bannerOpaqueLayerRed {
  background-color: rgba(100, 20, 10, 0.5);
}

.bannerOpaqueLayerGold {
  background-color: rgba(129, 112, 15, 0.493);
}

.bannerOpaqueLayerCyan {
  background-color: rgba(16, 113, 126, 0.5);
}

.clubmessage {
  background-color: rgba(20, 50, 100, 0.5);
  border-radius: 9px;
}

.fixed-home {
  background-image: url("../img/saf_inner_bw.png");
  position: fixed;
  z-index: 1000 !important;
}

.fixed-nothome {
  background-image: url("../img/hiw_blur_bw.jpg");
  position: fixed;
  background-position: -50px -50px;
  z-index: 1000 !important;
}

.fixed-background-home {
  padding: 5rem 1rem;
}

.fixed-background-nothome {
  padding: 0rem;
}
/*============= Meetings Buttons =============*/
.card-header-meetings {
  cursor: pointer;
}

.bMeetingsGroup {
  /* width: 100%; */
}
/*============= Meetings Cards =============*/
.meetingCard {
  margin-bottom: 1rem;
}

.meetingCardTime {
  font-size: 1rem;
  font-weight: 900;
}
.meetingCardTitle {
  font-size: 1.2rem;
  color: #0062cc;
}
.meetingCanceled {
  color: #f00;
}

/*============= GOOGLE MAP =============*/

.contact-map {
  max-height: 400px !important;
  padding: 0 !important;
  overflow: hidden;
  background-color: #5291c9;
}
.responsive-map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  opacity: 0.8;
}
.responsive-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  max-height: 400px;
  min-width: 100%;
  position: absolute;
}

/*============= FOOTER =============*/

footer {
  background-color: #383838;
}
footer {
  padding: 1rem 2rem 3rem;
}
img.logo {
  height: 8.5rem;
  margin: 1.5rem 0;
}
footer a {
  color: white;
  text-decoration: none !important;
  display: inline;
  transition: all 0.5s ease 0s;
}
footer a:hover {
  color: #5291c9;
  transition: all 0.5s ease 0s;
}
footer .svg-inline--fa.fa-w-14 {
  color: white;
  font-size: 1.6rem;
  transition: all 0.5s ease 0s;
}
footer .svg-inline--fa.fa-w-14:hover {
  color: #5291c9;
}
.footer-links p a {
  transition: all 0.5s ease;
}
p.footer-links a:hover {
  color: #5291c9 !important;
  transition: all 0.5s ease;
}
.footer-projects img {
  max-height: 6rem;
}
.footer-projects p {
  font-size: 0.8rem;
  color: #999999;
}
.footer-projects p:hover {
  color: #5291c9;
}

/*============= SOCKET =============*/

.socket {
  background-color: #3d0302;
  border-top: 0.1rem solid #666b71;
  width: 100%;
}
.socket a {
  color: white;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199px) {
  .nav-item {
    padding: 0px;
  }
}

/* Devices under 901px (md) */
@media (max-width: 900px) {
  .logolink {
    font-size: 1.9rem;
  }
}

/* Devices under 768px (md) */
@media (max-width: 767px) {
}

/* Devices under 501px (md) */
@media (max-width: 500px) {
  .logolink {
    font-size: 1.1rem;
  }
  h1{
	font-size: 2rem;
  }
  .faux_northland {
    width: 300px;
  }
}

@media (max-width: 400px) {
	.top_bar_zip{
		display: none;
	}
}
/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
